{% load static %}
{% load custom_filters %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'main/css/main.css' %}" />
</head>
<body>
    {% include 'main/partials/messages.html' %}
    <div class="main_wrap">
        <header>
            <div class="main_header">
                <div>
                    <a href="{% url 'main_site:home' %}">
                        <img src="{% static 'main/images/logo.png' %}" alt="bakery logo" />
                    </a>
                </div>
                <div>
                    <h1>Best Bakery</h1>
                    <p class="subtitle">Est. 19XX</p>
                </div>
                <div id="nav-btn" class="nav_btn" tabindex="0">
                    <img src="{% static 'main/images/nav_icon.png' %}" alt="nav menu icon" />
                </div>
            </div>
            <nav class="main_nav" id="main_nav">
                <ul>
                    <li><a href="{% url 'main_site:home' %}">Home</a></li>
                    <li><a href="{% url 'main_site:about' %}">About</a></li>
                    <li><a href="{% url 'main_site:products' %}">Products</a></li>
                    <li><a href="{% url 'main_site:jobs' %}">Careers</a></li>
                    <li><a href="{% url 'main_site:contact' %}">Contact</a></li>
                </ul>
            </nav>
        </header>
        <main>
            {% block content %}{% endblock %}
        </main>
        <footer>
            <section>
                <ul class="styled_list site_map">
                    <li><a href="{% url 'main_site:home' %}">Home</a></li>
                    <li><a href="{% url 'main_site:about' %}">About</a></li>
                    <li><a href="{% url 'main_site:products' %}">Products</a></li>
                    <li><a href="{% url 'main_site:jobs' %}">Careers</a></li>
                    <li><a href="{% url 'main_site:contact' %}">Contact</a></li>
                </ul>
            </section>
            <address>
                {{ location.street_address }}
                <br/>
                {{ location.city }}, {{ location.province }}
                <br />
                {{ location.postal }}
                <br/>
                {{ location.phone|format_phone_number }}
                <br/>
                {{ location.email }}
            </address>
            <div class="icon_credit">
               <a target="_blank" href="https://icons8.com/icon/82749/menu">Menu</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a>
            </div>
        </footer>
    </div>
    <script src="{% static 'main/js/script.js' %}"></script>
</body>
</html>